Repository wmjones/wyatt-personal-aws: changes, and which pre-commit hooks are due for each by the changed paths.
All: nextjs-lint, tsc-noEmit

.pre-commit-config.yaml:

repos:
  # 1 — Core housekeeping
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-added-large-files

  #     # 2 — Python ecosystem
  #   - repo: https://github.com/PyCQA/isort
  #     rev: 6.0.1            # pin to the current stable tag
  #     hooks:
  #       - id: isort

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: ["--keep-runtime-typing"]

  - repo: https://github.com/psf/black
    rev: 25.1.0 # 2025-04-15
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8

  # 3 — Terraform / IaC
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.99.0 # tfsec 2.11, tflint 0.52
    hooks:
      - id: terraform_fmt
      - id: terraform_trivy
        args:
          - --args=--severity=HIGH,CRITICAL
          - --args=--skip-dirs=.terraform
          - --args=--skip-dirs="**/.terraform/**"
          - --args=--tf-vars=/workspaces/wyatt-personal-aws/main/environments/dev.tfvars
      - id: terraform_docs # auto-fills README tables
        stages: [pre-push] # heavy ⟶ run only on push

  #   # 4 — Secret scanning
  #   - repo: https://github.com/Yelp/detect-secrets
  #     rev: v1.5.0
  #     hooks:
  #       - id: detect-secrets
  #         stages: [push]

  #   # 5 — Node / React / TypeScript
  #   - repo: https://github.com/pre-commit/mirrors-eslint
  #     rev: v9.25.1          # latest 8.x that mirrors ESLint core
  #     hooks:
  #       - id: eslint
  #         files: "\\.(js|jsx|ts|tsx)$"
  #         args: ["--cache"]            # speed up re-runs
  #         additional_dependencies:
  #           - eslint-config-standard-with-typescript@^38
  #           - eslint-plugin-react@^7
  #           - typescript@~5
  #           - "@typescript-eslint/parser@^7"
  #           - "@typescript-eslint/eslint-plugin@^7"

  # 6 — Local heavy gates (push-stage only)
  - repo: local
    hooks:
      - id: nextjs-lint
        name: "Next.js ESLint"
        entry: bash -c "cd src/frontend/nextjs-app && npm run lint"
        language: system
        pass_filenames: false
        files: "src/frontend/nextjs-app/.*\\.(js|jsx|ts|tsx)$"
        require_serial: true

  #       - id: pytest-check
  #         name: "pytest-check"
  #         entry: pytest
  #         language: system
  #         pass_filenames: false
  #         always_run: true
  #         stages: [push]

      - id: tsc-noEmit
        name: "TypeScript type-check"
        entry: bash -c "cd src/frontend/nextjs-app && npx tsc --noEmit"
        language: system
        pass_filenames: false
        files: "src/frontend/nextjs-app/.*\\.(ts|tsx)$"
        require_serial: true

  #   - id: jest
  #     name: "Jest unit tests"
  #     entry: npx jest --bail
  #     language: system
  #     pass_filenames: false
  #     stages: [push]

fix: Handle existing OIDC provider error
  docs/fix-oidc-provider-error.md
  main/github_actions_oidc.tf
  scripts/fix-oidc-provider.sh
Due: none

fix: Handle existing OIDC provider error in Terraform
  docs/fix-oidc-provider-error.md
  main/backend.tf
  main/github_actions_oidc.tf
  scripts/fix-oidc-provider.sh
Due: none

fix: Handle existing OIDC provider error in Terraform (#203)
  docs/fix-oidc-provider-error.md
  main/backend.tf
  main/github_actions_oidc.tf
  scripts/fix-oidc-provider.sh
Due: none

fix: Remove workspaces block from backend.tf to resolve conflict
  main/backend.tf
Due: none

fix: Remove workspaces block from backend.tf to resolve conflict (#204)
  main/backend.tf
Due: none

dev into main (#206)
  docs/fix-oidc-provider-error.md
  main/backend.tf
  main/github_actions_oidc.tf
  scripts/fix-oidc-provider.sh
Due: none

fix: Create OIDC provider only in dev environment to avoid conflicts
  main/github_actions_oidc.tf
Due: none

fix: Create OIDC provider only in dev environment to avoid conflicts (#208)
  main/github_actions_oidc.tf
Due: none

fix: Resolve pre-commit issues in Athena forecast integration
  .github/workflows/claude.yml
  src/frontend/nextjs-app/app/components/forecast/ForecastChart.tsx
  src/frontend/nextjs-app/app/components/forecast/ForecastDashboard.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/forecast/components/ForecastDataViewer.tsx
  src/frontend/nextjs-app/app/forecast/page.tsx
  src/frontend/nextjs-app/app/hooks/useForecastData.ts
  src/frontend/nextjs-app/app/services/api.ts
  src/frontend/nextjs-app/app/services/athenaService.ts
Due: nextjs-lint, tsc-noEmit

fix: Apply pre-commit formatting fixes
  .taskmasterconfig
  CLAUDE.local.md
  src/frontend/nextjs-app/app/api/forecast/cache/route.ts
  src/frontend/nextjs-app/app/components/forecast/CachePerformanceDashboard.tsx
  src/frontend/nextjs-app/app/hooks/useForecastData.ts
  src/frontend/nextjs-app/app/lib/cache-utils.ts
  src/frontend/nextjs-app/app/lib/migrations.ts
  src/frontend/nextjs-app/app/lib/postgres.ts
  src/frontend/nextjs-app/app/services/cacheService.ts
  src/frontend/nextjs-app/app/services/hybridForecastService.ts
  src/frontend/nextjs-app/build_log.txt
  src/frontend/nextjs-app/build_log_final.txt
  src/frontend/nextjs-app/build_log_fixed.txt
  src/frontend/nextjs-app/docs/deployment.md
  src/frontend/nextjs-app/package-lock.json
  src/frontend/nextjs-app/package.json
  src/frontend/nextjs-app/scripts/init-database.ts
  src/frontend/nextjs-app/scripts/test-hybrid-cache.ts
  src/frontend/nextjs-app/vercel.json
  vercel.json
Due: nextjs-lint, tsc-noEmit

fix: Apply pre-commit formatting to deployment fixes
  VERCEL_DEPLOYMENT_FIXES.md
  src/frontend/nextjs-app/docs/deployment.md
  src/frontend/nextjs-app/vercel.json
Due: none

feat: Integrate Athena forecast data with D3 visualizations (#211)
  .github/workflows/claude.yml
  .taskmasterconfig
  CLAUDE.local.md
  VERCEL_DEPLOYMENT_FIXES.md
  src/frontend/nextjs-app/app/api/forecast/cache/route.ts
  src/frontend/nextjs-app/app/components/forecast/CachePerformanceDashboard.tsx
  src/frontend/nextjs-app/app/components/forecast/ForecastChart.tsx
  src/frontend/nextjs-app/app/components/forecast/ForecastDashboard.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/forecast/components/ForecastDataViewer.tsx
  src/frontend/nextjs-app/app/forecast/page.tsx
  src/frontend/nextjs-app/app/hooks/useForecastData.ts
  src/frontend/nextjs-app/app/lib/cache-utils.ts
  src/frontend/nextjs-app/app/lib/migrations.ts
  src/frontend/nextjs-app/app/lib/postgres.ts
  src/frontend/nextjs-app/app/services/api.ts
  src/frontend/nextjs-app/app/services/athenaService.ts
  src/frontend/nextjs-app/app/services/cacheService.ts
  src/frontend/nextjs-app/app/services/hybridForecastService.ts
  src/frontend/nextjs-app/build_log.txt
  src/frontend/nextjs-app/build_log_final.txt
  src/frontend/nextjs-app/build_log_fixed.txt
  src/frontend/nextjs-app/docs/deployment.md
  src/frontend/nextjs-app/package-lock.json
  src/frontend/nextjs-app/package.json
  src/frontend/nextjs-app/scripts/init-database.ts
  src/frontend/nextjs-app/scripts/test-hybrid-cache.ts
  src/frontend/nextjs-app/vercel.json
  vercel.json
Due: nextjs-lint, tsc-noEmit

feat: Implement comprehensive design principles improvements for demand planning dashboard
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/globals.css
Due: nextjs-lint, tsc-noEmit

docs: Add comprehensive UI/UX analysis and accessibility verification documentation
  .claude/commands/build-nextjs-app.md
  .mcp.json
  accessibility-verification.md
  demand-planning-ui-analysis.md
Due: none

fix: Update GitHub Actions workflow to resolve Vercel CLI spawn sh ENOENT error
  .github/workflows/nextjs-deploy.yml
Due: none

fix: Pre-commit hook fixes for skip-build.js
  src/frontend/nextjs-app/skip-build.js
  src/frontend/nextjs-app/vercel.json
Due: nextjs-lint

fix: Pre-commit hook fixes for trailing whitespace
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
Due: nextjs-lint, tsc-noEmit

fix: Resolve pre-commit issues in forecast visualization components
  src/frontend/nextjs-app/app/components/forecast/ForecastChart.tsx
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
  src/frontend/nextjs-app/app/demand-planning/page.tsx
Due: nextjs-lint, tsc-noEmit

feat: Add inventory item dropdown and display all forecast columns by default
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
  src/frontend/nextjs-app/app/types/demand-planning/forecast.ts
Due: nextjs-lint, tsc-noEmit

feat: Implement modern multi-select filter system for demand planning
  src/frontend/nextjs-app/app/demand-planning/components/DashboardLayout.tsx
  src/frontend/nextjs-app/app/demand-planning/components/FilterSidebar.tsx
  src/frontend/nextjs-app/app/demand-planning/components/MultiSelectFilter.tsx
  src/frontend/nextjs-app/app/demand-planning/components/README-filters.md
  src/frontend/nextjs-app/app/demand-planning/page.tsx
Due: nextjs-lint, tsc-noEmit

feat: Integrate filter sidebar with D3 line plot for dynamic data visualization
  src/frontend/nextjs-app/app/demand-planning/components/FilterSidebar.tsx
  src/frontend/nextjs-app/app/demand-planning/components/README-filter-integration.md
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
  src/frontend/nextjs-app/app/demand-planning/lib/chart-utils.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/types/demand-planning/forecast.ts
Due: nextjs-lint, tsc-noEmit

refactor: Clean up demand planning UI by removing unnecessary elements
  src/frontend/nextjs-app/app/demand-planning/page.tsx
Due: nextjs-lint, tsc-noEmit

feat: Add comprehensive hover tooltips to D3 line chart with value display
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
Due: nextjs-lint, tsc-noEmit

fix: Resolve hover tooltip conflict with brush/zoom interaction
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
Due: nextjs-lint, tsc-noEmit

fix: Improve brush selection visibility and hover/drag interaction
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
  src/frontend/nextjs-app/app/globals.css
Due: nextjs-lint, tsc-noEmit

feat: Demand planning dashboard visual enhancements and design improvements (#214)
  .claude/commands/build-nextjs-app.md
  .github/workflows/nextjs-deploy.yml
  .mcp.json
  accessibility-verification.md
  demand-planning-ui-analysis.md
  src/frontend/nextjs-app/app/components/forecast/ForecastChart.tsx
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/components/DashboardLayout.tsx
  src/frontend/nextjs-app/app/demand-planning/components/FilterSidebar.tsx
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/components/MultiSelectFilter.tsx
  src/frontend/nextjs-app/app/demand-planning/components/README-filter-integration.md
  src/frontend/nextjs-app/app/demand-planning/components/README-filters.md
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
  src/frontend/nextjs-app/app/demand-planning/lib/chart-utils.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/globals.css
  src/frontend/nextjs-app/app/types/demand-planning/forecast.ts
  src/frontend/nextjs-app/skip-build.js
  src/frontend/nextjs-app/vercel.json
Due: nextjs-lint, tsc-noEmit

docs: Update documentation to reflect Next.js architecture and add context slash command
  .claude/commands/README.md
  .claude/commands/build-react-app.md
  .claude/commands/context.md
  .claude/commands/load-project-context.md
  .claude/commands/project-context
  ai_docs/1_project_overview.md
  ai_docs/2_d3_dashboard.md
  ai_docs/4_terraform_modules.md
  ai_docs/7_technical_specifications.md
  ai_docs/consolidated_prd.md
  ai_docs/local-testing.md
Due: none

fix: Add missing S3 and CloudFront permissions to GitHub Actions OIDC role
  .github/workflows/ssm_params.yml
  main/github_actions_oidc.tf
Due: none

fix: Add missing S3 and CloudFront permissions to GitHub Actions OIDC role (#217)
  .github/workflows/ssm_params.yml
  main/github_actions_oidc.tf
Due: none

fix: Implement proper data aggregation for demand planning filters
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
Due: nextjs-lint, tsc-noEmit

fix: Add GitHub Actions deployment job for dev branch
  .github/workflows/nextjs-deploy.yml
Due: none

feat: Integrate demand planning dashboard with real Athena and Neon data
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
  src/frontend/nextjs-app/app/lib/cache-utils.ts
  src/frontend/nextjs-app/app/services/athenaService.ts
Due: nextjs-lint, tsc-noEmit
