Repository wmjones/wyatt-personal-aws: changes, and which pre-commit hooks are due for each by the changed paths.
All: nextjs-lint, tsc-noEmit

nextjs-lint:
  name: Next.js ESLint
  entry: bash -c "cd src/frontend/nextjs-app && npm run lint"
  language: system
  pass_filenames: false
  require_serial: true

tsc-noEmit:
  name: TypeScript type-check
  entry: bash -c "cd src/frontend/nextjs-app && npx tsc --noEmit"
  language: system
  pass_filenames: false
  require_serial: true

chore: Apply pre-commit formatting fixes
  .github/workflows/deployment_package_zip.yml
  .github/workflows/terraform_apply.yml
  .github/workflows/terraform_plan.yml
  main/modules/lambda_function/main.tf
Due: none

fix: Remove tfvars argument from terraform trivy hook
  .pre-commit-config.yaml
Due: none

feat(demand-planning): Refactor adjustments with enhanced UI and real-time updates
  src/frontend/nextjs-app/app/api/adjustments/__tests__/route.test.ts.disabled
  src/frontend/nextjs-app/app/api/adjustments/route.ts
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentHistory.tsx
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentHistoryTable.tsx
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentModal.tsx
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/components/NewAdjustmentPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/components/charts/TimeSeriesChart.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useAdjustmentHistory.ts
  src/frontend/nextjs-app/app/demand-planning/hooks/useForecast.ts
  src/frontend/nextjs-app/app/demand-planning/lib/__tests__/adjustment-utils.test.ts
  src/frontend/nextjs-app/app/demand-planning/lib/adjustment-utils.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/demand-planning/services/adjustmentService.ts
  src/frontend/nextjs-app/app/lib/migrations.ts
Due: nextjs-lint, tsc-noEmit

fix: Enable Vercel Git-based deployments
  src/frontend/nextjs-app/vercel.json
Due: none

fix: Align forecast sync lambda with project's CloudWatch log group pattern
  main/lambda_forecast_sync.tf
  main/modules/lambda_function/main.tf
Due: none

fix: Remove reference to deleted CloudWatch log group resource in outputs
  main/modules/lambda_function/outputs.tf
Due: none

fix: Remove AWS_REGION from Lambda environment variables
  main/lambda_forecast_sync.tf
Due: none

fix: Resolve database migration issues in CI/CD and add debugging
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentHistory.tsx
  src/frontend/nextjs-app/app/demand-planning/components/NewAdjustmentPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/package.json
  src/frontend/nextjs-app/scripts/migrate-only.ts
  src/frontend/nextjs-app/scripts/run-migrations.ts
Due: nextjs-lint, tsc-noEmit

fix: Add forecast-sync SSM parameter permissions to GitHub Actions role
  main/github_actions_oidc.tf
Due: none

fix: Add workflow dependency to prevent OIDC race condition
  .github/workflows/sync-neon-config-to-ssm.yml
Due: none

chore: Apply pre-commit formatting fixes
  .github/workflows/ssm_params.yml
  .github/workflows/sync-neon-config-to-ssm.yml
Due: none

fix: Add missing SSM permissions for parameter tagging and verification
  main/github_actions_oidc.tf
Due: none

fix: Separate SSM parameter creation and tagging to resolve AWS validation error
  .github/workflows/ssm_params.yml
Due: none

fix: Add ssm:GetParameters permission required for AddTagsToResource
  main/github_actions_oidc.tf
Due: none

fix: Allow ssm:DescribeParameters on wildcard resource for parameter filtering
  main/github_actions_oidc.tf
Due: none

fix: Enable Vercel deployments for dev branch
  docs/vercel-dev-branch-deployment-setup.md
  src/frontend/nextjs-app/skip-build.js
  src/frontend/nextjs-app/vercel.json
Due: nextjs-lint

feat: Implement GitHub Actions-first Vercel deployment strategy
  .github/workflows/neon-branch-cleanup.yml
  .github/workflows/nextjs-deploy-with-neon.yml
  docs/vercel-deployment-strategy-implemented.md
  docs/vercel-dev-production-deployment-strategy.md
  main/environments/prod.tfvars
  src/frontend/nextjs-app/vercel.json
Due: none

fix: Correct branch name comparison and remove invalid vercel.json property
  .github/workflows/nextjs-deploy-with-neon.yml
  src/frontend/nextjs-app/vercel.json
Due: none

fix: Match Vercel build and deploy environments for dev/main branches
  .github/workflows/nextjs-deploy-with-neon.yml
Due: none

fix(demand-planning): Address PR #235 code review feedback
  .github/workflows/nextjs-deploy-with-neon.yml
  Screenshot 2025-05-28 at 3.00.42 PM.png
  scripts/run-migration-via-api.sh
  src/frontend/nextjs-app/app/api/adjustments/__tests__/route.test.ts
  src/frontend/nextjs-app/app/api/adjustments/__tests__/route.test.ts.disabled
  src/frontend/nextjs-app/app/api/adjustments/route.ts
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentHistory.tsx
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/components/NewAdjustmentPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useAdjustmentHistory.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/layout.tsx
  src/frontend/nextjs-app/app/lib/auth-middleware.ts
  src/frontend/nextjs-app/app/lib/migrations.ts
  src/frontend/nextjs-app/jest-api.config.mjs
  src/frontend/nextjs-app/jest-api.setup.js
  src/frontend/nextjs-app/jest.setup.js
  src/frontend/nextjs-app/package-lock.json
  src/frontend/nextjs-app/package.json
Due: nextjs-lint, tsc-noEmit

fix: Linter adjustments for TypeScript
  src/frontend/nextjs-app/app/api/adjustments/__tests__/route.test.ts
  src/frontend/nextjs-app/app/lib/auth-middleware.ts
Due: nextjs-lint, tsc-noEmit

fix: Add missing newlines at end of files
  src/frontend/nextjs-app/app/api/adjustments/route.ts
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentHistory.tsx
  src/frontend/nextjs-app/app/demand-planning/components/ForecastCharts.tsx
  src/frontend/nextjs-app/app/demand-planning/components/NewAdjustmentPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/lib/migrations.ts
Due: nextjs-lint, tsc-noEmit

fix: Revert Vercel deployment strategy to match dev branch
  src/frontend/nextjs-app/vercel.json
Due: none

fix: Resolve TypeScript errors blocking deployment
  src/frontend/nextjs-app/app/api/adjustments/__tests__/route.test.ts
  src/frontend/nextjs-app/app/api/adjustments/__tests__/route.test.ts.disabled
Due: nextjs-lint, tsc-noEmit

feat(task-50): Create user onboarding task and expand UI experience flow documentation
  docs/ui-experience-flow.md
Due: none

feat: Implement multi-user adjustment system for forecast collaboration
  docs/multi-user-adjustment-system.md
  src/frontend/nextjs-app/app/api/adjustments/route.ts
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentHistoryTable.tsx
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/demand-planning/services/adjustmentService.ts
  src/frontend/nextjs-app/app/lib/migrations.ts
  src/frontend/nextjs-app/app/types/demand-planning/forecast.ts
  src/frontend/nextjs-app/package-lock.json
  src/frontend/nextjs-app/package.json
  src/frontend/nextjs-app/scripts/run-adjustment-migration.ts
  src/frontend/nextjs-app/scripts/test-adjustments-api.ts
Due: nextjs-lint, tsc-noEmit

feat(task-50): Implement comprehensive user onboarding system
  src/frontend/nextjs-app/app/api/user/preferences/route.ts
  src/frontend/nextjs-app/app/components/header.tsx
  src/frontend/nextjs-app/app/components/onboarding/HelpButton.tsx
  src/frontend/nextjs-app/app/components/onboarding/OnboardingManager.tsx
  src/frontend/nextjs-app/app/components/onboarding/OnboardingProgress.tsx
  src/frontend/nextjs-app/app/components/onboarding/ProductTour.tsx
  src/frontend/nextjs-app/app/components/onboarding/WelcomeModal.tsx
  src/frontend/nextjs-app/app/components/onboarding/hooks/useOnboarding.ts
  src/frontend/nextjs-app/app/components/onboarding/hooks/useTourProgress.ts
  src/frontend/nextjs-app/app/dashboard/page.tsx
  src/frontend/nextjs-app/app/demand-planning/components/FilterSidebar.tsx
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/layout.tsx
  src/frontend/nextjs-app/app/lib/migrations.ts
  src/frontend/nextjs-app/package-lock.json
  src/frontend/nextjs-app/package.json
Due: nextjs-lint, tsc-noEmit

fix: Remove react-shepherd to resolve React 19 peer dependency conflict
  src/frontend/nextjs-app/package-lock.json
  src/frontend/nextjs-app/package.json
Due: none

fix: Redirect users to demand-planning page after login and add error logging
  src/frontend/nextjs-app/app/api/user/preferences/init/route.ts
  src/frontend/nextjs-app/app/api/user/preferences/route.ts
  src/frontend/nextjs-app/app/components/onboarding/hooks/useOnboarding.ts
  src/frontend/nextjs-app/app/login/page.tsx
Due: nextjs-lint, tsc-noEmit

test: Add comprehensive unit tests for multi-user adjustment system
  src/frontend/nextjs-app/app/api/adjustments/__tests__/route.test.ts
  src/frontend/nextjs-app/app/api/adjustments/route.ts
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentHistory.tsx
  src/frontend/nextjs-app/app/demand-planning/components/__tests__/AdjustmentHistory.test.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/__tests__/useAdjustmentHistory.test.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useAdjustmentHistory.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/lib/__tests__/migrations.test.ts
  src/frontend/nextjs-app/app/lib/migrations.ts
  src/frontend/nextjs-app/jest.setup.js
Due: nextjs-lint, tsc-noEmit

fix: Add automatic table creation to user preferences and adjustments APIs
  src/frontend/nextjs-app/app/api/adjustments/route.ts
  src/frontend/nextjs-app/app/api/user/preferences/route.ts
  src/frontend/nextjs-app/scripts/run-migrations.ts
Due: nextjs-lint, tsc-noEmit

feat: Add debugging tools for adjustment save/load errors
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentDebugPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useAdjustmentHistory.ts
  src/frontend/nextjs-app/app/demand-planning/page.tsx
  src/frontend/nextjs-app/app/lib/error-logger.ts
  src/frontend/nextjs-app/docs/adjustment-errors-research.md
Due: nextjs-lint, tsc-noEmit

feat: Add database schema verification and migration tools
  src/frontend/nextjs-app/app/api/admin/run-migrations/route.ts
  src/frontend/nextjs-app/app/api/debug/schema/route.ts
  src/frontend/nextjs-app/scripts/check-database-schema.ts
  src/frontend/nextjs-app/scripts/check-db-direct.ts
  src/frontend/nextjs-app/scripts/migrate-only.ts
  src/frontend/nextjs-app/scripts/run-api-migration.sh
Due: nextjs-lint, tsc-noEmit

fix: Resolve linting and TypeScript errors in dev branch
  src/frontend/nextjs-app/app/api/admin/run-migrations/route.ts
  src/frontend/nextjs-app/app/api/debug/schema/route.ts
  src/frontend/nextjs-app/app/demand-planning/components/AdjustmentDebugPanel.tsx
  src/frontend/nextjs-app/app/demand-planning/hooks/useAdjustmentHistory.ts
Due: nextjs-lint, tsc-noEmit

Path conditions:
  nextjs-lint: any of: src/frontend/nextjs-app/.*\.(js|jsx|ts|tsx)$
  tsc-noEmit: any of: src/frontend/nextjs-app/.*\.(ts|tsx)$
